@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC:wght@300;400;700&family=Noto+Sans+TC:wght@100..900&display=swap');
body    {
    color:#15E14F;
    background-color: #2E8B49;
    font-size: 20px;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 300;
    font-style: normal; 
}